:root{
    --cor-de-fundo #EBECEE;
}

body{
    background-color: var(--cor-de-fundo);
}

h1{
    background-color: white;
}

h2{
background-color: black;
font-size: 24pt;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}